#landingPage {
  display: flex;
  height: 98vh;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  #landingPage {
    flex-direction: column;
    overflow-y: scroll;
    height: 196vh;
  }
  #createRoom {
    width: 100%;
    height: 50%;
  }
  #roomsList {
    width: 100%;
    height: 50%;
    margin-top: 1%;
  }
}
@media only screen and (orientation: portrait) {
  #createRoomForm input {
    width: 60%;
    max-width: 190px;
  }
}
