#roomsList {
  width: 34%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(270deg, #18181b, #191513);
  border-radius: 20px;
  margin-left: 1%;
  overflow: hidden;
}
#roomsContainer {
  overflow-y: scroll;
  height: 82.5%;
  margin-top: 3%;
}
#roomsList h1 {
  color: white;
}
.room {
  align-self: center;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  display: flex;
  transition: ease 0.1s;
  animation-name: roomWidth;
  animation-duration: 0.2s;
}
.room button {
  font-size: 20px;
  background-image: linear-gradient(45deg, #219898, #6cff2e);
  color: white;
  font-weight: 550;
  border-color: white;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#room button:focus {
  outline: none;
}
.roomDetails {
  width: 80%;
  margin: 0 auto 0 auto;
  font-size: 16px;
  border-radius: 10px !important;
  display: flex;
  background: #3f51b5;
  background-image: linear-gradient(45deg, #3a1675, transparent);
  color: white;
}
.availableroomname {
  width: 150px;
  margin: auto;
  overflow-x: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  padding-left: 5px;
}
.availableroomname::-webkit-scrollbar {
  display: none;
}
.availableroomdetails {
  width: 100%;
  display: flex;
}
.room input {
  width: 100px;
  margin-left: 10px;
  font-size: 15px;
  text-align: center;
  border: none;
  animation: roomInputWidth;
  animation-duration: 0.2s;
}
@keyframes roomInputWidth {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}
@keyframes roomWidth {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
.room input::placeholder {
  text-align: center;
  font-size: 12px;
}
.room:hover {
  transform: scale(1.05);
}
#roomadmin {
  width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: scroll;
}
#joinUsername {
  width: 40%;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid;
  align-self: center;
  padding-left: 5px;
  border: none;
  outline: none !important;
  box-shadow: 0 !important;
}
#joinUsername::placeholder {
  text-align: center;
}
#joinUsernameButton {
  background-image: linear-gradient(45deg, #ca3271, #b30b0bf7);
  color: white;
  height: 28px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin-left: 2%;
}
