#createRoom {
  width: 65%;
  background: url("../../../assets/images/rotateLoader.gif");
  background-size: auto;
  background-position: center;
  display: flex;
  filter: contrast(1.2);
  flex-direction: column;
  border-radius: 20px;
}
#createRoomForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 65%;
  align-items: center;
}
#createRoomForm h1,
label {
  color: white;
}
#roomLabel {
  margin-top: 1%;
}
#createRoom #roomname,
#createRoom #roomkey {
  text-align: center;
}
#createRoom #roomname::placeholder,
#createRoom #roomkey::placeholder {
  text-align: center;
}
#createRoomForm input {
  width: 35%;
  height: 30px;
  border-radius: 20px;
  font-size: 15px;
  padding: 0 3% 0 3%;
  font-weight: bold;
  background: #fffafa99;
  margin-top: 10px;
  border: none;
}
#nameLabel {
  margin-top: 10px;
}
#createRoomForm input:focus {
  outline: none;
}
/* #createRoomForm :nth-child(3) {
  margin-top: 10px;
}
#createRoomForm :nth-child(6) {
  margin-top: 10px;
} */
#createRoomButton {
  min-width: 15%;
  background: rgb(64, 156, 90);
  border-radius: 20px;
  color: white;
  height: 30px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  transition: ease 0.1s;
}
#createRoomButton:hover {
  transform: scale(1.05);
  background: #294986;
}
#createRoomButton:focus {
  outline: none;
}
