#chatRoom {
  display: flex;
  height: 98vh;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #ffffff, #215d88 85%);
  animation: chatRoomSize;
  animation-duration: 0.3s;
}
#chatBox {
  width: 70%;
  height: 100vh;
}
#membersBoard h1 {
  color: steelblue;
}
#membersBoard {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-image: linear-gradient(180deg, #1e1e27, black 171%);
  border-radius: 20px;
  height: 78vh;
  margin-right: 1%;
}
#request {
  border: 1px solid;
  height: 40px;
  width: 80%;
  display: flex;
}
#requestText {
  margin: auto;
  font-size: 20px;
}
#request button {
  width: 15%;
  font-size: 15px;
}
#publicRoomName {
  font-size: 25px;
  font-weight: bold;
  overflow: auto;
  width: 80%;
  margin-top: 10px;
  text-align: center;
  color: #5c6bc0;
}
@keyframes chatRoomSize {
  from {
    height: 5vh;
  }
  to {
    height: 98vh;
  }
}
